@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    font-family: 'Gabarito', sans-serif;
    @apply text-black_1 bg-white_1
}

hr {
    @apply border-4 border-black_1/5 border-dashed rounded-full w-full
}

.centered {
    @apply md:max-w-[61%] mx-auto w-full
}

.open-nav {
    @apply max-md:block transition-all max-md:max-h-[250px] max-md:overflow-clip max-md:mt-[30px]
}

.close-nav {
    @apply max-md:hidden transition-all max-md:max-h-0 max-md:overflow-clip
}

.open-side {
    @apply transition-all max-md:h-full max-md:max-h-[5000px] md:max-w-[250px] overflow-clip max-md:mt-[30px]
}

.close-side {
    @apply transition-all max-md:max-h-0 md:max-w-0 overflow-clip max-md:mt-[30px]
}

.open-dd {
    @apply transition-all border-2 border-black_1/5 shadow-md shadow-black_1/15 overflow-clip max-h-[1000px]
}

.close-dd {
    @apply transition-all overflow-clip max-h-0
}

.caret-act {
    @apply transition ease-in -rotate-180
}

.caret {
    @apply transition ease-in rotate-0
}

.item-dd {
    @apply flex gap-4 items-center px-4 py-3 hover:bg-dark_green/10 hover:text-green
}

.checked-item-dd {
    @apply flex gap-4 items-center px-4 py-3 bg-dark_green/10 text-green
}

.inp {
    @apply z-[100] bg-black/5 text-black/50 text-sm px-[15px] py-[10px] rounded-xl focus:outline-none border-2 border-transparent focus:border-green
}

.label {
    @apply transition-all ease-in peer-focus:text-green peer-focus:left-0 peer-focus:top-[-25px] peer-focus:text-sm absolute left-[18px] top-[21%] text-black_1/50 placeholder-inherit
}

.label-act {
    @apply transition-all ease-in peer-focus:text-green left-0 top-[-25px] text-sm absolute text-black_1/50
}

.a {
    @apply transition ease-in text-green hover:underline
}

.a_1 {
    @apply transition ease-in text-black/25 hover:text-green
}

.scrollbar-hide::-webkit-scrollbar {
    display: none;
}

.scroll-hide {
    @apply scrollbar-hide;
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}

.swal2-container {
    @apply z-[100000000]
}

